@model Docente.Models.DOCENTES_CONCYTEC
@{
    ViewBag.Title = "Busqueda Docente";
}

<h2>Busqueda Docente</h2>
@using(Html.BeginForm())
{
    <div>
        <div>DNI:</div>
        <div>@Html.TextBox("txtDNI")</div>
    </div>
    <input type="submit" value="Buscar"/>
    <div>
        <div>Nombre:</div>
        <div>@ViewData["Nombre"]</div>
        <div>Apellido Paterno:</div>
        <div>@ViewData["ApePaterno"]</div>
    </div>
}


