@model Docente.Models.DOCENTES_CONCYTEC
@{
	ViewBag.Title = "ResultadoBusqueda";
}

<h2>ResultadoBusqueda</h2>

@Html.Label("Nombre")
@Html.LabelFor(model => model.Nombres)
<br>
@Html.Label("Apellido Paterno")
@Html.LabelFor(model => model.ApellidoPaterno)